
body {
    margin: 0;
}
.full-screen {
    width: 100vw;
    height: 100vh;
}
/* .content {
    background-image: url("https://image.slidesharecdn.com/how-to-present-better-remaked-141109130915-conversion-gate01/95/-1-638.jpg?cb=1457004823");
    background-size: contain;
} */
.cover {
    background-color: black;
    opacity: 0;
}